	<div class="col-xs-12 col-md-3 ">
		<div class="well side-menu text-center">
			<h3 class="">Need to know more?</h3>
			<p><a href="/contacts/new"><i class="fa fa-comment"></i> Get in touch</a></p>
			<p ><a href="tel:+1226320070"><i class="fa fa-phone"></i> 01226 320 070</a></p>
			<p><a href="mailto:orders@psgenergy.co.uk"><i class="fa fa-envelope"></i>  orders@psgenergy.co.uk</a></p>		
		</div>
	</div>