	<div class="col-xs-12 col-md-3 ">
		<%= link_to "MORE PRODUCTS...", products_path, class: " hidden-xs hidden-sm btn btn-lg btn-default pull-right side-button"%>
		<div class="well side-menu text-center">
			<h2 class="">Like to order?</h2>
			<p><a href="/contacts/new"><i class="fa fa-comment"></i> Get in touch</a></p>
			<p ><a href="tel:+1226320070"><i class="fa fa-phone"></i> 01226 320 070</a></p>
			<p><a href="mailto:orders@psgenergy.co.uk"><i class="fa fa-envelope"></i>  orders@psgenergy.co.uk</a></p>		
		</div>
	</div>