<div class="col-xs-12 col-md-3 text-center know-more">
	<h3>Order Now?</h3>
	<p>
		Call: <a href="tel:+1226320070">01226 320070</a><br>
		Email: <a href="mailto:orders@psgenergy.co.uk">orders@psgenergy.co.uk</a>
		Contact Us: <a href="/contacts/new">Here</a>
	</p>
</div>