<div class="col-xs-12 col-md-4 col-lg-3 ">		
		<div class="well-sm text-center">
			<h2 class="">Like to order?</h2>
			<p><a href="/contacts/new"><i class="fa fa-comment"></i> Get in touch</a></p>
			<p ><a href="tel:+1226320070"><i class="fa fa-phone"></i> 01226 320070</a></p>
			<p><a href="mailto:orders@psgenergy.co.uk"><i class="fa fa-envelope"></i>  orders@psgenergy.co.uk</a></p>		
		</div>
</div>