<%= image_tag "About-Us.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h1>About Us</h1>
				<hr>
                <p>
                    <strong>As Built Energy Surveys ltd.</strong>  have considerably expanded our product range over the years to include SAP reports, sound insulation testing, air pressure testing, asbestos surveys, fire risk assessments floor plans, air conditioning inspections and more.
                </p>
                <br>
                <p>
                    Our client base includes utility companies, social and private landlords, local authorities, ALMO's, Estate/Letting Agents, Solicitors, ECO installers and private individuals. We have been involved in many large scale projects including local authority contracts, entire shopping centres and industrial estates, but can also cater for the individual with a professional service tailored to suit your requirements.
                </p>
                <br>

                <p>
                    For further information on our range of services, please see our <%= link_to "product list", products_path %> or for further information dont hesitate to <%= link_to "get in touch", new_contact_path %>.
                </p>
			</div>
		</div>
	</div>
</div>
