<div class="nav-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h1>About Us</h1>
				<hr>
				
					<p>
						<strong>PSG</strong>&nbsp;(Property Search Group) is a well respected and well established national company that is a leading force in the property market. PSG is part of the Security Research Group Plc group of companies and <strong>PSG Energy</strong>&nbsp;was formed in 2009 to consolidate PSGs energy assessment resources and build on its range of services to its ever-growing client base.
					</p>
					</br>
					<p>
						PSG Energy quickly established a significant market share as a major provider of residential and commercial Energy Performance Certificates (EPCs) and Display Energy Certificates (DECs) since their inception, and through its UK network can call upon a skilled team of employed Energy Assessors, fully trained to provide assessments for all types of properties.
					</p>
					</br>
					<p>
						We have considerably expanded our product range over the years to include green deal assessments, SAP reports, sound insulation testing, air pressure testing, asbestos surveys, fire risk assessments floor plans, air conditioning inspections and code for sustainable homes assessments.
					</p>
					</br>
					<p>
						Our client base includes utility companies, social and private landlords, local authorities, ALMO's, Estate/Letting Agents, Solicitors, Green Deal installers and providers, ECO installers and private individuals. We have been involved in many large scale projects including local authority contracts, entire shopping centres and industrial estates, but can also cater for the individual with a professional service tailored to suit your requirements.
					</p>
					</br>

					<p>
						For any information on the above services, please browse our website or use the “contact us” function.
					</p>

				
			</div>
		</div>	
	</div>
</div>