<%= image_tag "Air-Conditioning.jpg", class: 'img-responsive img-fill hidden-xs' %><div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h1>
                    Air Conditioning Inspections<br>
                </h1>
                <hr>
                <p>
                    Many commercial buildings and an increasing number of homes have air conditioning systems. These systems should be carefully maintained and managed in order that they do not consume too much energy.
                </p>
                <br>
                <p>
                    Since 4<sup>th</sup> January 2011, all air conditioning systems over 12kW were required to have had their first inspection. For all systems first put into service on or after 1 January 2008, the first inspection must have taken place within five years of the date when the system was first put into service and all systems must then be regularly inspected no longer than 5 years from the previous inspection.
                </p>
                <br>
                <p>
                    The trigger for air conditioning systems inspections is the size (effective rated output) of the system not the type of building and so the measures apply to homes, commercial and public buildings.
                </p>
                <br>
                <p>
                    The inspection, which is done by an accredited energy assessor will include an assessment of efficiency, a review of their sizing and advice on improvements or replacements and alternative solutions. Inspection reports for air conditioning inspections are not generated from software. Inspections follow the convention described in TM44, published by CIBSE.
                </p>
            </div>
        </div>
    </div>
</div>