<%= image_tag "inner-product-image-Asbestos-Services.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h1>
                    Asbestos Services<br>
                </h1>
                <hr>
                <p>
                    Completely banned since 1999, it was once common to find Asbestos in building materials including ceiling tiles, pipe insulation, boilers, sprayed coatings and roof tiles. If disturbed, the loose fibres can be inhaled and cause serious health issues and even fatalities.
                </p>
                </br>
                <p>
                    If you are a landlord or are acting on behalf of a landlord, it is important that you are aware of your responsibilities when it comes to Asbestos. As part of your duty of care towards the occupiers of your buildings, it is vital that you are aware of the presence of any of this dangerous fibrous material in any part of the premises.
                </p>
                </br>
                <p>
                    Under regulation 4 of the <a href="http://www.hse.gov.uk/asbestos/regulations.htm" target="_blank" rel="nofollow">Control of Asbestos regulations 2012</a> you should:
                </p>
                </br>
                <p>
                    take reasonable steps to find out if there are materials containing asbestos in non-domestic premises, and if so, its amount, where it is and what condition it is in;
                </p>
                </br>
                <p>
                    Presume materials contain asbestos unless there is strong evidence that they do not;
                </p>
                </br>
                <p>
                    Make, and keep up-to-date, a record of the location and condition of the asbestos containing materials – or materials which are presumed to contain asbestos;
                </p>
                </br>
                <p>
                    Assess the risk of anyone being exposed to fibres from the materials identified;
                </p>
                </br>
                <p>
                    Prepare a plan that sets out in detail how the risks from these materials will be managed;
                </p>
                </br>
                <p>
                    Take the necessary steps to put the plan into action;
                </p>
                </br>
                <p>
                    Periodically review and monitor the plan and the arrangements to act on it so that the plan remains relevant and up-to-date;
                </p>
                </br>
                <p>
                    Provide information on the location and condition of the materials to anyone who is liable to work on or disturb them.
                </p>
                </br>
                <p>
                    PSG Energy provide two levels of Asbestos Survey depending on if any Asbestos is likely to be disturbed during refurbishment works. Our UKAS accredited team of surveyors will assess any potential Asbestos Containing Materials and take samples for analysis before completing their detailed report.
                </p>
            </div>
        </div>
    </div>
</div>