<%= image_tag "commercial-epc.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
	<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
                <h1>
                    <%= link_to "Products > ", products_path, class:"hidden-xs"%></a>Commercial EPC's<br>
                </h1>
                <hr>
			</div>
		</div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">

					<p>
						An Energy Performance Certificate (EPC) rates how energy efficient your building is using grades from A to G (with ‘A’ the most efficient grade).
					</p>
					<br>
					<h3> When you need an EPC </h3>
					 <p> You must have an EPC if: </p>
						<ul>
							<li> You rent out or sell the premises</li>
							<li> A building under construction is finished </li>
							<li> There are changes to the number of parts used for separate occupation and these changes involve providing or extending fixed heating, air conditioning or mechanical ventilation systems </li>
						</ul>
					<br>
					<p>
						You can be fined between £500 and £5,000 based on the rateable value of the building if you don’t make an EPC available to any prospective buyer or tenant.
					</p>
					<br>
					<h3> When you must display one </h3>
					<p> You must display an EPC by fixing it to your commercial building if all these apply:</p>
					<ul>
						<li> The total useful floor area is over 500 square meters</li>
						<li> The building is frequently visited by the public</li>
						<li> An EPC has already been produced for the building’s sale, rental or construction</li>
					</ul>
					<br>
					<h3> Exemptions </h3>
					<p>You don’t need an Energy Performance Certificate (EPC) if you can demonstrate that the building is any of these:</p>
					<ul>
						<li> Listed or officially protected and the minimum energy performance requirements would unacceptably alter it</li>
						<li> A temporary building only going to be used for 2 years or less</li>
						<li> Used as a place of worship or for other religious activities</li>
						<li> An industrial site, workshop or non-residential agricultural building that doesn’t use much energy</li>
						<li> A detached building with a total floor space under 50 square metres</li>
						<li> Due to be demolished by the seller or landlord and they have all the relevant planning and conservation consents</li>
					</ul>
					<br>
					<h3> Vacant buildings and demolition </h3>
					<p> A building is also exempt if all of the following are true: </p>
					<ul>
						<li> It’s due to be sold or rented out with vacant possession</li>
						<li> It’s suitable for demolition and the site could be redeveloped</li>
						<li> The buyer or tenant has applied for planning permission to demolish it</li>
					</ul>
					<br>
						<%= link_to "More products...", products_path, class: "more-products"%>

					</p>
			</div>
			<%= render("menu/order")%>
		</div>
	</div>
</div>
