<%= image_tag "DECS.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h1>Display Energy Certificates</h1>
				<hr>
					<p>
						Since October 2008 there has been an obligation to display a Display Energy Certificate (DEC) in a prominent place in buildings occupied by public authorities and institutions providing public services where the total useful floor area of the building exceeds 1000m2 and the building is frequently visited by the public. Since the research was undertaken changes have been made to The Energy Performance of Buildings (England and Wales) Regulations 2012 (as amended) which came into force in January 2013 which reduced the size threshold to 500m² and removed the requirement for institutions providing public services to large numbers of people that are not public authorities. They are also required to possess or control a valid accompanying Advisory Report (AR). The validity period of these two documents is determined by the size of the building (see chart below). There is no statutory requirement on private sector organisations to have a DEC but they may voluntarily choose to have one.
					</p>
					<br>
					<p>
						DECs provide an energy rating of the building from A to G, where A is most efficient and G is the least efficient, and are based on the actual amount of metered energy used by the building over a period of 12 months. The AR is produced at the same time as the initial DEC and contains recommendations for improving the energy performance of the building.
					</p>
					<br>
					<p>
						From 9<sup>th</sup> July 2015, the threshold for buildings qualifying under the EPB Regulations as requiring a DEC and Advisory Report will reduce to 250m².
					</p>
					<br>
					<h3>Validity Period of the DEC and AR</h3>
					<table border="0" cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
					<td valign="top" width="116">
					<p>
										<strong>Floor Area (m²) </strong>
									</p>
					</td>
					<td valign="top" width="164">
					<p>
										<strong>DEC Expiry </strong>
									</p>
					</td>
					<td valign="top" width="179">
					<p>
										<strong>AR Expiry*</strong>
									</p>
					</td>
					</tr>
					<tr>
					<td valign="top" width="116">
					<p>
										&lt;=500
									</p>
					</td>
					<td valign="top" width="164">
					<p>
										Nominated-Date + 10yrs
									</p>
					</td>
					<td valign="top" width="179">
					<p>
										Issue-Date + 10yrs
									</p>
					</td>
					</tr>
					<tr>
					<td valign="top" width="116">
					<p>
										&gt;500 &amp; &lt;=1000
									</p>
					</td>
					<td valign="top" width="164">
					<p>
										Nominated-Date + 10yrs
									</p>
					</td>
					<td valign="top" width="179">
					<p>
										Issue-Date + 10yrs
									</p>
					</td>
					</tr>
					<tr>
					<td valign="top" width="116">
					<p>
										&gt;1000
									</p>
					</td>
					<td valign="top" width="164">
					<p>
										Nominated-Date + 1 yr
									</p>
					</td>
					<td valign="top" width="179">
					<p>
										Issue-Date + 10yrs
									</p>
					</td>
					</tr>
					</tbody>
					</table>
					<p>
						<small><em>*Advisory Reports issued prior to 9<sup>th</sup> January 2013 are valid for 7 years. However, those Advisory Reports with an issue date on or after 9 <sup>th</sup> January 2013 will be valid for 10 years regardless of the floor area of the building.  </em></small>
					</p>
					<br>
					<p>
						Although the Government has initially introduced DECs for the public sector, PSG Energy has also been providing DECs for privately owned buildings, particularly to companies who understand the importance of environmental responsibility in the commercial sector.
					</p>
					<br>
					<p>
						At PSG Energy we have fully trained and experienced assessors who understand some of the complexities that larger public and private buildings present.
					</p>
					<br>
					
			</div>
		</div>	
	</div>
</div>