<%= image_tag "eco.jpg", class: 'img-responsive img-fill hidden-xs' %><div class="nav-page">
	<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
                <h1>
                    <%= link_to "Products > ", products_path, class:"hidden-xs"%></a>Eco Boiler Scheme<br>
                </h1>
                <hr>
			</div>
		</div>		
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
		
					<p>
						Grants are available to pay for the replacement of inefficient or broken boilers. The grants can be accessed by home owners and private tenants who receive the qualifying benefit, tax credit or allowance. Grants normally cover the full cost and <strong>do not have to be paid back*.</strong>
					</p>
					<br>
					<p>
						These government backed grants are part of the Energy Companies Obligation (ECO) which was introduced to support the Green Deal. Under ECO, Energy Suppliers are obliged to pay for energy saving improvements in households that are likely to be living in fuel poverty.
					</p>
					<br>

                    <h3>Who qualifies for an ECO Grant?<h3>
					<p>
						To qualify for a grant, you must own or privately rent the property. If you are a private tenant, you will need written consent from your landlord before any installation.&nbsp;
					</p>
					<p>
						Someone living in the household must meet one of the four following critera A, B, C or D, in respect of the states benefits which they receive:
					</p>
					<br>
					<p>
						<strong>A. Pension Credit</strong>
					</p>
					<p>
						You receive Pension Credit, either Guaranteed Credit or Savings Credit (ordinary state pension does not qualify).
					</p>
					<br>
					<p>
						<strong>OR</strong>
					</p>
					<br>
					<p>
						<strong>B. Child Tax Credit</strong>
					</p>
					<p>
						You receive Child Tax Credit&nbsp;<strong>AND</strong>&nbsp;your total household income is below £15,860. The important household income amount is the one shown on your current Tax Credit award letter which should include income and benefits for everyone who lives in your home.
					</p>
					<br>
					<p>
						<strong>OR</strong><br>
						&nbsp;
					</p>
					<p>
						<strong>C.&nbsp;Income Based State Benefits</strong>
					</p>
					<p>
						You receive any one of the following income based state benefits:
					</p>
					<p>
						• Income Based Job Seeker’s Allowance (Contribution Based JSA does not qualify)<br>
						• Income Related Employment &amp; Support Allowance (Contribution Based ESA does not qualify)<br>
						• Income Support
					</p>
					<br>
					<p>
						<strong>AND one criteria from the following list also applies:</strong>
					</p>
					<p>
						• Disabled Child Premium (this is an add-on to JSA or IS and is shown on the award letter in the benefit breakdown)<br>
						• Parental responsibility for a child under 16 years of age, who live at the property (for proof of this you must be in receipt of Child Benefit or Child Tax Credit for the child)<br>
						• Parental responsibility for a child aged 16 or over but under 20, who lives at the property and is in full-time education (not in higher education, such as at a university)<br>
						• Pension Premium, either Higher or Enhanced. (These are add-ons to Income Support and are shown on the award letter in the benefit breakdown).<br>
						• Child Tax Credit which includes a Disability or Severe Disability element<br>
						• Disability Premium, either Higher or Enhanced. &nbsp;(These are add-ons to JSA, ESA or IS and are on the award letter in the benefit breakdown. &nbsp;They are normally indicated on the form with the comment ‘you are sick / disabled’).<br>
						• Work Related Activity or Support Component (this applies to Income Related Employment &amp; Support Allowance only)
					</p>
					<br>
					<p>
						<strong>OR</strong><br>
						&nbsp;
					</p>
					<p>
						<strong>D. Working Tax Credit&nbsp;</strong>
					</p>
					<p>
						You receive Working Tax Credit&nbsp;<strong>AND</strong>&nbsp;your total household income is below £15,860. The important household income amount is the one shown on your current Tax Credit award letter which should include income and benefits for everyone who lives in your home.
					</p>
					<br>
					<p>
						<strong>And one criteria from this following list also applies:</strong>
					</p>
					<p>
						• You have parental responsibility for a child under 16 who lives with you at the property<br>
						• You have parental responsibility for a child aged 16 or over but under 20, who lives with you at the property and is in full-time education (not in higher education, such as at a university)<br>
						• You receive the Disabled Worker Element or Severe Disability Element<br>
						• You are aged 60 or over
					</p>
                    <br>
					<h3>Free Boiler Criteria – Important Additional Information regarding State Benefits</h3>
					<p>
						As part of the qualifying procedure to assess whether you satisfy the free boiler criteria you will need to provide the current year’s state benefit award letters to a surveyor and copies will be taken to support your application. If you do not have every page of your state benefit award letter it is likely that your application will not proceed. You should be able to obtain replacement copies of your state benefit award letters from the DWP. &nbsp;
					</p>
					<p>
						The state benefit award letters need to be in your name, with your current address on and for the current year. &nbsp;If you have recently moved house you will need to obtain new award letters with your new address on.
					</p>
					<p>
						Benefits and allowances which are&nbsp;<strong><u>not included</u></strong>&nbsp;this scheme’s criteria are DLA (Disability Living Allowance), PIP (Personal Independence Payment), Housing Benefit, ordinary State Pension, contribution based Employment &amp; Support Allowance and Child Benefit.
					</p>
					<br>
					<h3>What type of boilers qualify?</h3>
					<p>
						If you have a boiler, the efficience should be less than 86% which means it will be rated somewhere between C and G. Boilers over 5 years old will typically fall into this range.
					</p>
					<br>
					<p>
						PSG Energy&nbsp;work in partnership with a reputable installer network.&nbsp;
					</p>
				<p>
					<br>
					<%= link_to "More products...", products_path, class: "more-products"%>
					
				</p>
			</div>
			<%= render("menu/order")%>
		</div>	
	</div>
</div>