<%= image_tag "fire-risk-assessment.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7 col-md-offset-1">
                <h1>
                    Fire Risk Assessments
                </h1>
                <hr>
                <p>
                    The Regulatory Reform (Fire Safety) Order 2005 covers general fire safety in England and Wales. Under this legislation, if you are an employer (and/or building owners or occupiers), you must carry out a must carry out a<br>
                    fire safety risk assessment and keep it up to date.
                </p>
                <br>
                <p>
                    A Fire Risk Assessment allows you to identify any possible dangers fire safety dangers and to consider those that use your premises and how you can reduce the risk to them. The assessment can form part of your overall building risk assessment and can be used to create a plan in the event of an emergency.
                </p>
                <br>
                <p>
                    PSG Energy have a team of expert surveyors who can perform your Fire Risk Assessment and ensure that it is kept up to date.
                </p>
            </div>
			<%= render("menu/order")%>
        </div>
    </div>
</div>