<%= image_tag "Floorplans.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h1>Floor Plans</h1>
				<hr>
					<p>
						PSG Energy utilise bespoke software to provide our 2D &amp; 3D Floorplans.
					</p>
					<br>
					<p>
						Features include:
					</p>

					<ul>
                        <li>
                                Floor Plans can be produced in several file formats to suit: PDF, XPS, WMF (vector,bitmap), JPG, TIF, PNG, GIF, BNP
                            </li>
                        <li>
                                Floor Plans branded to suit clients requirement.
                            </li>
                        <li>
                                Compass point
                            </li>
                        <li>
                                Coloured rooms
                            </li>
                        <li>
                                Room measurements
                            </li>
                        <li>
                                Thick wall function to accurately represent character properties
                            </li>
                    </ul>
			</div>
		</div>	
	</div>
</div>