<%= image_tag "Green-Deal-Assessments.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h1>Green Deal Assessments</h1>
				<hr>
                <p>
                    The Green Deal is a government initiative which has been introduced to help transform the energy efficiency of Britain's property stock. It enables property owners to make energy saving improvements to their buildings at no up front cost, but instead make installments through their energy bill.
                </p>
                <br>
                <p>
                    There are a range of energy saving measures that can be installed in the home. These include insulation to the walls and floors, draught proofing, double glazing and renewable energy generation such as heat pumps or solar panels. Through the Green Deal, consumers can take advantage of an innovative financing mechanism ("a Green Deal plan")&nbsp;which allows them to pay back the cost of installation through their energy bills. The financial obligation of the improvements stay&nbsp;with the house and if sold will become the responsibility of the new owner.
                </p>
                <br>
                <p>
                    Before a Green Deal Plan can be offered by a Green Deal Provider, the consumer must instruct an accredited adviser to perform a property assesment. The adviser will then visit the property, assess the energy performance and advise on the relevant opportunites for energy efficiency improvements.
                </p>
                <br>
                <p>
                    PSG Energy have employed Green Deal Advisors who can give advice and produce independent Green Deal reports.
                </p>
			</div>
		</div>	
	</div>
</div>