
<%= image_tag "legionella.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7 col-md-offset-1">
                <h1>What is Legionnaires Disease?</h1>
                <hr>
                <p>
                    Legionnaires Disease (also known as Legionella) is a severe form of lung infection which is spread by water sources and articial water supply systems such as air conditioning systems. Often mis-diagnosed as flu or pneumonia, the disease is most likely to affect men over the age of 45 with deficient immune systems, are smokers or have exisiting breathing problems.
                </p>
                <br>
                <p>
                    In some cases the infection can become so severe that it can be life-threathening and between 2011 and 2013 the NHS recorded 84 deaths as a direct result of Legionella.
                </p>
                <br>
                <p>
                    <strong>If you are the owner of a domestic property which is used for rental accomodation it is your responsibility to undertake a Legionella inspection in order to protect your tenants.</strong>
                </p>
                <br>
                <p>
                    Health and Safety Law states:
                    <br>
                    <em>
                        "Landlords who provide residential accommodation, as the person in control of the premises or responsible for the water systems in their premises, have a legal duty to ensure that the risk of exposure of tenants to legionella is properly assessed and controlled. This duty extends to residents, guests, tenants and customers. They can carry out a risk assessment themselves if they are competent, or employ somebody who is.“
                    </em> HSG274 (2014)
                </p>
                <br>
                <p>To book your Legionella Risk Assessment from one of our fully trained Legionella Risk Assessors, contact us today.</p>
            </div>
			<%= render("menu/order")%>
        </div>
    </div>
</div>