
<div class="nav-page licensee">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7 col-md-offset-1">
                <h1>Join the PSG Energy Team</h1>
                <hr>
           </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-7 col-md-offset-1">
                <h3>Becoming an Energy Licensee has many benefits</h3>
                <br>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td class="benefit"><i class="fa fa-check-square-o"></i></td>
                        <td class="">No initial set up cost</td>
                    </tr>
                    <tr>
                        <td class="benefit"><i class="fa fa-check-square-o"></i></td>
                        <td class="">Low monthly license fee and management fees</td>
                    </tr>
                    <tr>
                        <td class="benefit"><i class="fa fa-check-square-o"></i></td>
                        <td class="">Access to the PSG Energy corporate lodgement accounts with low rates</td>
                    </tr>
                    <tr>
                        <td class="benefit"><i class="fa fa-check-square-o"></i></td>
                        <td class="">Use of the nationally recognised PSG Energy brand – We currently lodge between 1200-1500 EPCs per month, and our offices have been involved in the production of EPCs since their inception in 2007</td>
                    </tr>
                    <tr>
                        <td class="benefit"><i class="fa fa-check-square-o"></i></td>
                        <td class="">Your own PSG Energy “Connect” software – Your clients log in through the PSG Energy website and can order online. The Connect system acts as a complete order/delivery/invoicing platform for your office. Payment can be taken by card (charges apply) increasing your cash flow. Client commissions can be built in which is popular with our Estate Agent clients</td>
                    </tr>
                    <tr>
                        <td class="benefit"><i class="fa fa-check-square-o"></i></td>
                        <td class="">Access to the full suite of PSG Energy products where commissions can be made. i.e. Asbestos Surveys, Fire Risk Assessments, New build SAP’s etc</td>
                    </tr>
                    <tr>
                        <td class="benefit"><i class="fa fa-check-square-o"></i></td>
                        <td class="">Instructions from PSG Energy HO National accounts with potential for inter-trade instructions from fellow Licensees. Our clients include Local Authorities, local and national Estate/Letting Agents, ECO boiler installers, Biomass Boiler installers, Landlords, Architects, Developers, Solicitors and the general public</td>
                    </tr>
                    <tr>
                        <td class="benefit"><i class="fa fa-check-square-o"></i></td>
                        <td class="">Full support from PSG Energy HO – PSG Energy is the sister company to PSG Connect. PSG Energy currently has 14 Licensee offices and there are 47 PSG Connect offices Nationwide. We have full I.T, Accounting and Technical support available to all our licensees</td>
                    </tr>
                    <tr>
                        <td class="benefit"><i class="fa fa-check-square-o"></i></td>
                        <td class="">Corporate website presence <a href="www.psgenergy.co.uk">www.psgenergy.co.uk</a> with an industry news feed, Twitter, LinkedIn and Facebook presence – Each Licensee can be found using the “PSG Energy in your area” facility</td>
                    </tr>
                    <tr>
                        <td class="benefit"><i class="fa fa-check-square-o"></i></td>
                        <td class="">Full Marketing support</td>
                    </tr>
                    </tbody>
                </table>

            </div>


			<%= render("menu/contact")%>
        </div>
    </div>
</div>
