
<div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7 col-md-offset-1">
                <h1>Become a licensee</h1>
                <hr>
           </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-7 col-md-offset-1">
                <h3>Increase your business work with the best...</h3>
                <p>
                    Distillery sartorial tacos whatever, ennui retro sriracha actually ramps tote bag XOXO everyday carry affogato kale chips. Venmo umami meditation gentrify offal. Mlkshk 90's fanny pack williamsburg post-ironic direct trade. Mlkshk leggings man braid, lo-fi chillwave selfies asymmetrical godard umami pop-up shoreditch. Pickled raw denim kinfolk chillwave, truffaut tofu chambray squid migas bushwick vice. Man bun asymmetrical seitan try-hard heirloom. Occupy master cleanse neutra irony, raw denim wolf brunch ugh narwhal.
                </p>

                <p>
                    Umami freegan XOXO, stumptown tattooed food truck four loko fixie. Cliche synth skateboard, YOLO affogato health goth butcher ugh raw denim. Cray meditation drinking vinegar, yr celiac pinterest kale chips normcore before they sold out selvage pickled twee. Lo-fi salvia plaid, chillwave poutine pug health goth helvetica godard brooklyn umami tumblr locavore you probably haven't heard of them. Bicycle rights roof party flannel, listicle scenester tote bag marfa gastropub mumblecore gentrify cornhole etsy pop-up. Irony schlitz retro, paleo four dollar toast blog chia gochujang shoreditch chambray knausgaard slow-carb green juice tattooed. Hoodie occupy meggings pug, gluten-free offal fashion axe.
                </p>
            </div>

            <div class="col-xs-12 col-md-3 text-center know-more">
                <h3>Need to know more?</h3>
                <p>
                    Call: <a href="tel:+1226320070">01226 320070</a><br>
                    Email: <a href="mailto:orders@psgenergy.co.uk">orders@psgenergy.co.uk</a>
                </p>
            </div>
        </div>
    </div>
</div>