<div class="nav-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2 class="postcode_header" style="padding-bottom:0px; border:none; padding-left:1px"><a href="http://www.psgenergy.co.uk/2016/03/15/decc-publish-amendments-to-renewable-heat-incentive-scheme-eligibility/">DECC publish amendments to Renewable Heat Incentive scheme eligibility</a>
				</h2>
				<br>
				<p>
					The Department of Energy and Climate Change (DECC) have recently published a new set of amendments to the Renewable Heat Incentive (RHI) scheme eligibility.
				</p>
				<br>
				<a href="http://www.psgenergy.co.uk/2016/03/15/decc-publish-amendments-to-renewable-heat-incentive-scheme-eligibility/">Read More...</a>

			</div>
		</div>	
	</div>
</div>