<div class="nav-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h1>Offices</h1>
				<hr>
				<p>List of local offices in England & Wales:</p>
				<table>
					<tr>
						<th> Name </th>
						<th> Tel: </th>
						<th> E-mail: </th>
					</tr>
					<% @offices.each do |office|%>
					<tr>
						 <td><%= office.name %></td>
						 <td><%= office.tel %></td>
						 <td><%= office.email %></td>
					 </tr>
					<% end%>
				</table>
			</div>
		</div>	
	</div>
</div>