<%= image_tag "Air-Pressure-Testing.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h1>Air Pressure Testing</h1>
                <hr>
                <p>
                    Air Tightness is the resistance of the building envelope to inward or outward air leakage. Excessive air leakage results in increased energy consumption and a draughty, cold building.
                </p>
                </br>
                <p>
                    Air leakage is driven by differential pressures across the building envelope. The mechanisms that create these differences in pressure are the combined effects of:
                </p>
                <ul>
                    <li>
                        Stack (internal warm air rises)
                    </li>
                    <li>External wind (inducing +ve and –ve pressures on the envelope)</li>
                    <li>Mechanical ventilation systems</li>
                </ul>
                </br>
                <p>
                    Offering a comprehensive range of air tightness solutions nationwide for all types of building – PSG Energy has the knowledge, resources and expertise to solve your air tightness problems in all types and sizes of buildings. PSG Energy has national coverage with a flexible customer-focused services, excellent breadth of experience and offers value-added project support.
                </p>
            </div>
        </div>
    </div>
</div>