<%= image_tag "Residential-EPC.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
	<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
                <h1>
                    <%= link_to "Products > ", products_path, class:"hidden-xs"%></a>Residential EPC's<br>
                </h1>
                <hr>
			</div>
		</div>		
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
				<p>
					Energy Performance Certificates (EPCs) tell you how energy efficient a property is on a scale of A-G. The most efficient properties – which should have the lowest fuel bills – are in band A. The Certificate also explains on a scale of A-G, the impact the property has on the environment. Better-rated properties should have less impact through carbon dioxide (CO2) emissions.<br>
					The average property in the UK is in bands D-E for both ratings.
				</p>
				<br>
				<p>
					The Certificate includes recommendations on ways to improve the property's energy efficiency to save money and help the environment. The approximate cost of implementing each recommendation will be shown as will the likely energy cost savings so that an informed decision can be made when deciding which measures to install. There is currently no obligation on the seller or Landlord to implement any of the recommendations shown on the EPC.
				</p>
				<br>
				<p>
					An EPC is valid for 10 years and must be commissioned prior to the marketing of a property for sale or let.
				</p>
				<br>
				<p>
					An accredited energy assessor will need to physically inspect the property and collect information. This will include external or internal measurements, details about the construction and the type of heating/hot water used in the property. The assessor will need to access all the rooms in the property as well as the boiler and loft. The assessor will need to take photographs of items such as the boiler, loft insulation, double glazing etc as they are quality audited on a regular basis.
				</p>
				<p>
					<br>
					<%= link_to "More products...", products_path, class: "more-products"%>
					
				</p>
			</div>
			<%= render("menu/order")%>
		</div>	
	</div>
</div>