<div class="nav-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h1>SAPS</h1>
				<p>
					Deciding on sustainable, environmentally efficient construction is no longer simply a question of conscience. The UK Government has put in place strategies that aim to reduce greenhouse gas emissions, particularly carbon dioxide, which research has proved to be a major contributing factor to global warming.
				</p>
				<br>
				<p>
					The Government is committed to reduce CO<sub>2</sub> emissions from energy consumption by 20% by the year 2010, relative to 1990 levels. This is a long term commitment outlined in the Energy White Paper for a 60% reduction in UK CO<sub>2</sub> emissions by the year 2050. The energy use within buildings<br>
					accounts for approximately half of all UK CO<sub>2</sub> emissions. Two major factors in the design and performance of building fabric which affect energy consumption are air leakage and continuity of insulation.
				</p>
				<br>
				<p>
					There are also substantial commercial benefits to building owners that will accrue over the lifetime of the building. Reduced energy costs provide clients with real cash incentives to achieve airtight buildings.
				</p>
				<br>
				<p>
					Other benefits are gained from increased comfort for building users, office staff and/or customers. Although difficult to quantify, these are tangible benefits to the client.
				</p>
				<br>
				<p>
					One such strategy involves progressive modification to Part L1A/B of the Building Regulations (for Dwellings) and Part L2A/B (for non-domestic buildings). These now require the calculation of a Standard Assessment Procedure (SAP) Rating for all new buildings and those converted through material change of use. The requirements also necessitate that the Rating is displayed in the property upon completion.
				</p>
				<br>
				<p>
					<strong>Information required to produce a SAP Assessment:</strong>
				</p>
				<br>
				<p>
					<strong>Dimensions</strong>
				</p>
				<br>
				<p>
					Floor plans and elevations – to input floor areas, ceiling heights, window sizes, roof areas, orientation, etc. Drawings to be either drawn to scale or fully dimensioned.
				</p>
				<br>
				<p>
					<strong>Building Fabric – Construction type</strong>
				</p>
				<br>
				<p>
					With details of (including insulation types and thicknesses/u-values):
				</p>
				<p>
					• Main and secondary floors
				</p>
				<p>
					• Main and secondary walls
				</p>
				<p>
					• Roofs
				</p>
				<p>
					• Windows
				</p>
				<p>
					• Any accredited construction conventions being used
				</p>
				<br>
				<p>
					<strong>Heating &amp; Hot Water</strong>
				</p>
				<br>
				<p>
					Including fuel type &amp; any make and model of boiler and equipment if known:
				</p>
				<p>
					• Primary heating system
				</p>
				<p>
					• Secondary heating system
				</p>
				<p>
					• Hot water system, including cylinder size and details of insulation, etc.
				</p>
				<p>
					• Control system
				</p>
				<br>
				<p>
					<strong>Other information</strong>
				</p>
				<p>
					• Air leakage/design air permeability rate (or actual rate for as-built which has had a physical air tightness test)
				</p>
				<p>
					• Any mechanical ventilation details
				</p>
				<p>
					• Number of low energy lights
				</p>
				<p>
					• Number of open flues/chimneys
				</p>
				<p>
					• Number of intermittent vents/fans
				</p>
				<br>
				<p>
					<strong>Notes:</strong>
				</p>
				<br>
				<p>
					If a component is unspecified or required information is unavailable then in some instances it may be possible to use a standard compliant component or detail for the calculation. This product, or an equal or better performing alternative, would then need to be approved by the designers and incorporated into the design.
				</p>
				<br>
				<p>
					If not available, then U-Values can be calculated for most items (assuming that there is a specification).
				</p>
				<br>
				<p>
					
			</div>
		</div>	
	</div>