<%= image_tag "code-for-sustainable.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
                <h1>
                    <%= link_to "Products > ", products_path, class:"hidden-xs"%></a>Code for Sustainable Homes<br>
                </h1>
                <hr>
			</div>
		</div>		
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
        
                <p>
                    The energy used in our homes accounts for a large proportion of the UK's&nbsp;carbon emissions. &nbsp;There are a number of initiatives introduced by the Government to help reduce these emissions to protect and improve the natural and built environment.
                </p>
                <br>
                <p>
                    The Code for Sustainable Homes&nbsp;was&nbsp;introduced to provide a single national standard for the design and construction of sustainable new homes.
                </p>
                <br>
                <p>
                    The code includes 9 measures of sustainable design:
                </p>
                <ul>
                    <li>
                        energy/CO2
                    </li>
                    <li>
                        water
                    </li>
                    <li>
                        materials
                    </li>
                    <li>
                        surface water runoff (flooding and flood prevention)
                    </li>
                    <li>
                        waste
                    </li>
                    <li>
                        pollution
                    </li>
                    <li>
                        health and well-being
                    </li>
                    <li>
                        management
                    </li>
                    <li>
                        ecology
                    </li>
                </ul>
                <br>
                <p>
                    The building is&nbsp;rated from 1 to 6 for it's overall sustainability performance in each of these categories.
                </p>
                <br>
                <p>
                    PSG are accredited to undertake your Code for Sustainable Homes assessment, a process which begins at the design stage and is carried through to post construction.
                </p>
				<p>
					<br>
					<%= link_to "More products...", products_path, class: "more-products"%>
					
				</p>
            </div>
			<%=  render("menu/order")%>
        </div>
    </div>
</div>