<div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">

                    <h1>
                        Terms and Conditions<br>
                    </h1>
                    <hr>
                    <p>
                        <br>
                        <strong>Terms &amp; Conditions Relating to Energy Performance Certificates (EPCs)</strong>
                    </p>
                    </br>
                    <p>
                        <strong>1. Definitions.</strong><br>
                        1.1. ‘PSG Energy’ shall mean PSG Energy Limited, (a company owned and operated by PSG Solutions Limited), its employees, sub contractors or agents.<br>
                        1.2. ‘The Client’ shall mean person or persons, firm or corporate body that instructs PSG Energy to perform the EPC, test, investigations, research, consultancy or similar.<br>
                        1.3. ‘Agreed’ shall mean agreed between the Client and PSG Energy.
                    </p>
                    </br>
                    <p>
                        <strong>2. General.</strong><br>
                        2.1. These conditions shall apply to all work undertaken by PSG Energy; no additions or variations shall apply unless agreed in writing.<br>
                        2.2. PSG Energy reserves the right to decline an order without providing a reason.<br>
                        2.3. All contracts may be terminated prior to completion by providing one month’s written notice; the client shall be responsible for all costs accumulated up to the date of termination.
                    </p>
                    </br>
                    <p>
                        <strong>3. Quotations &amp; Charges</strong><br>
                        3.1. All charges shall be in accordance with a quotation provided by PSG Energy.<br>
                        3.2. Quotations shall be valid for a three month period unless otherwise agreed.<br>
                        3.3. PSG Energy reserves the right to amend all quotations due to unforeseen cost fluctuations (e.g. extra staff salary/travel expenses) or any significant variation in the property description (e.g. floor area size) provided by the client and found on actual survey.
                    </p>
                    </br>
                    <p>
                        <strong>4. Cancellation Policy</strong><br>
                        4.1 Cancellation fees are applicable in the event of a cancelled/postponed EPC in the following circumstances:<br>
                        4.1.1 The EPC is cancelled or postponed on the agreed date as a result of incomplete plans or other information, non-completion of a building or lack of access -100% of the fee is chargeable.<br>
                        4.1.2 The EPC is postponed or cancelled within two days of the agreed date a charge of 50% of the full fee will be applicable.<br>
                        4.1.3 Any cancellation/postponement due to adverse weather will not incur a cancellation fee.
                    </p>
                    </br>
                    <p>
                        <strong>5. Confidentiality</strong><br>
                        5.1. PSG Energy shall treat all information obtained from the client as confidential; no such information shall be disclosed to a third party without prior approval from the client.
                    </p>
                    </br>
                    <p>
                        <strong>6. Limitations of Liability.</strong><br>
                        6.1. PSG Energy shall exercise due care, reasonable skill and diligence in order to complete all work, producing reports and providing guidance. However, PSG Energy shall not be liable for any loss of earnings or damage, whether direct or indirect, arising from the use of reports, certificates, information or advice issued.<br>
                        6.2. PSG Energy shall not be liable for loss, expense or damage incurred by the client resulting from a delay in completing the EPC, test, investigation or consultancy.
                    </p>
                    </br>
                    <p>
                        <strong>7. Payment</strong><br>
                        7.1. Payment shall be made by the client within 30 days of an invoice being submitted.<br>
                        7.2. PSG Energy reserves the right to submit various regular progress claims.<br>
                        7.3. All payments shall be paid without deduction; in the event of any query the invoice shall be paid in full less the queried amount following client/PSG Energy agreement.<br>
                        7.4. PSG Energy shall be entitled to charge interest on accounts outstanding for more than 30 days for any sum, unjustifiably withheld, at 2% above the Bank of England lending rate.
                    </p>


            </div>
        </div>
    </div>
</div>