<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-3 footer-info">
                <h4>Contact us</h4>
                <p>PSG Energy LTD (Head Office) </p>
                <p>6 Great Cliffe Court,</p>
                <p>Great Cliffe Road,</p>
                <p>Dodworth, </p>
                <p>Barnsley, </p>
                <p>S75 3SP</p>
                <p>Telephone: 01226 32 00 70</p>
                <p>Fax: 01226 24 00 95</p>
                <p>Email: <a href="mailto:orders@psgenergy.co.uk">orders@psgenergy.co.uk</a></p>
            </div>

            <div class="hidden-xs hidden-sm col-md-3 footer-info">
                <h4>Site Map</h4>
                <p><%= link_to("About us", about_path) %></p>
                <p><a href="http://www.psgenergy.co.uk/quote">Quote</a>  </p>
                <p><a href="http://www.psgenergy.co.uk/blog">Our News</a>  </p>
                <p><a href="http://www.psgenergy.co.uk/contact-us">Contact us</a>  </p>
                <p><a href="http://www.psgenergy.co.uk/terms-and-conditions">Terms and Conditions</a> </p>
                <p><a href="http://www.psgenergy.co.uk/privacy-policy">Privacy Policy</a> </p>
                <p><a href="http://www.psgenergy.co.uk/cookies">Cookies</a> </p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 footer-info">
                <h4>Keep in touch</h4>
                <p><a href="http://twitter.com/psg_energy" target="_blank" class="footer-smicon"><i class="fa fa-twitter"></i> Twitter</a></p>
                <p><a href="http://www.facebook.com/psgenergyltd" target="_blank" class="footer-smicon"><i class="fa fa-facebook"></i> Facebook</a></p>
                <p><a href="http://www.psgenergy.co.uk/blog" class="footer-smicon"><i class="fa fa-paper-plane"></i> News</a>     </p>
                <p><a href="mailto:orders@psgenergy.co.uk" target="_blank" class="footer-smicon"><i class="fa fa-envelope"></i> Email</a> </p>

                <span class="visible-xs visible-sm">
                    <h4>Site Map</h4>
                    <p><%= link_to("About us", about_path) %></p>
                    <p><a href="http://www.psgenergy.co.uk/quote">Quote</a>  </p>
                    <p><a href="http://www.psgenergy.co.uk/blog">Our News</a>  </p>
                    <p><a href="http://www.psgenergy.co.uk/contact-us">Contact us</a>  </p>
                    <p><a href="http://www.psgenergy.co.uk/terms-and-conditions">Terms and Conditions</a> </p>
                    <p><a href="http://www.psgenergy.co.uk/privacy-policy">Privacy Policy</a> </p>
                    <p><a href="http://www.psgenergy.co.uk/cookies">Cookies</a> </p>
                </span>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 footer-info">
                <h4>Products</h4>
                <p><%= link_to("Residential EPCs", residential_epc_path) %></p>
                <p><a href="http://www.psgenergy.co.uk/commercial-energy-performance-certificates/">Commercial EPCs</a></p>
                <p><a href="http://www.psgenergy.co.uk/floor-plans/">Floor Plans</a></p>
                <p><a href="http://www.psgenergy.co.uk/green-deal-assessments/">Green Deal Assessments</a></p>
                <p><a href="http://www.psgenergy.co.uk/eco-boiler-scheme/">Eco Boiler Scheme</a></p>
                <p><a href="http://www.psgenergy.co.uk/decs/">DECs</a></p>
                <p><a href="http://www.psgenergy.co.uk/saps/">SAPs</a></p>
                <p><a href="http://www.psgenergy.co.uk/air-pressure-testing">Air Pressure Testing</a></p>
                <p><a href="http://www.psgenergy.co.uk/acoustic-testing">Acoustic Testing</a></p>
                <p><a href="http://www.psgenergy.co.uk/code-for-homes">Code for Sustainable Homes</a></p>
                <p><a href="http://www.psgenergy.co.uk/asbestos-services/">Asbestos Surveys</a> </p>
                <p><a href="http://www.psgenergy.co.uk/air-conditioning-inspections/">Air Conditioning Inspections</a></p>
                <p><a href="http://www.psgenergy.co.uk/fire-risk-assessments/">Fire Risk Assessments</a></p>
            </div>
        </div>
        <div class="row footer-cp">
            <span>
                © PSG Energy 2016. PSG Energy Limited registered in England and Wales number 06363519. Registered Office 6 Great Cliffe Court, Great Cliffe Road, Barnsley, S75 3SP. VAT No 947 601 019.
            </span>
        </div>
    </div>

</div>
