<div class="main-menu">
    <div class="container">
        <div class="row main-menu">

            <div class="col-sm-4 menu">
                <h3><i class=" visible-xs fa fa-chevron-down"></i><span class="hidden-xs">Menu</span></h3>
                <p><a href="http://www.psgenergy.co.uk/about-us">Home</a>  </p>
                <p><a href="http://www.psgenergy.co.uk/quote">About Us</a>  </p>
                <p><a href="http://www.psgenergy.co.uk/blog">Register</a>  </p>
                <p><a href="http://www.psgenergy.co.uk/terms-and-conditions">News</a> </p>
                <p><a href="http://www.psgenergy.co.uk/contact-us">Contact us</a>  </p>
            </div>

            <div class="col-sm-4 products-menu">
                <h3>Products</h3>
                <p><a href="http://www.psgenergy.co.uk/residential-energy-performance-certificates/">Residential EPCs</a></p>
                <p><a href="http://www.psgenergy.co.uk/commercial-energy-performance-certificates/">Commercial EPCs</a></p>
                <p><a href="http://www.psgenergy.co.uk/floor-plans/">Floor Plans</a></p>
                <p><a href="http://www.psgenergy.co.uk/green-deal-assessments/">Green Deal Assessments</a></p>
                <p><a href="http://www.psgenergy.co.uk/eco-boiler-scheme/">Eco Boiler Scheme</a></p>
                <p><a href="http://www.psgenergy.co.uk/decs/">DECs</a></p>
                <p><a href="http://www.psgenergy.co.uk/saps/">SAPs</a></p>
            </div>

            <div class="col-sm-4 ">
                <h3 class="hidden-xs">...</h3>

                <p><a href="http://www.psgenergy.co.uk/air-pressure-testing">Air Pressure Testing</a></p>
                <p><a href="http://www.psgenergy.co.uk/acoustic-testing">Acoustic Testing</a></p>
                <p><a href="http://www.psgenergy.co.uk/code-for-homes">Code for Sustainable Homes</a></p>
                <p><a href="http://www.psgenergy.co.uk/asbestos-services/">Asbestos Surveys</a> </p>
                <p><a href="http://www.psgenergy.co.uk/air-conditioning-inspections/">Air Conditioning Inspections</a></p>
                <p><a href="http://www.psgenergy.co.uk/fire-risk-assessments/">Fire Risk Assessments</a></p>
            </div>
        </div>
    </div>

</div>
