<!--testimonial area-->
<div id="carousel-testimonial" class="carousel slide carousel-testimonial" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-testimonial" data-slide-to="1"></li>
        <li data-target="#carousel-testimonial" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">

            <div class="carousel-caption">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <h3>
                            <i class="fa fa-quote-left "></i>Energy are great I use them everyday, I even invited Debra to my wedding!<i class="fa fa-quote-right"></i>
                        </h3>
                        <h4>Gary Cliffe - Homeucus ltd </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">

            <div class="carousel-caption">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <h3>
                            <i class="fa fa-quote-left "></i>Gareth was great and booked my surveys in at the last minute<i class="fa fa-quote-right"></i>
                        </h3>
                        <h4>Bob Wall - Home Movers org</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <h3>
                            <i class="fa fa-quote-left "></i>Always prompt and professional able to help us all around the country<i class="fa fa-quote-right"></i>
                        </h3>
                        <h4>Hilary St.Peters - Right Buyers llc </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>