<!--testimonial area-->
<div id="carousel-testimonial" class="carousel slide carousel-testimonial" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-testimonial" data-slide-to="1"></li>
        <li data-target="#carousel-testimonial" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">

            <div class="carousel-caption">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <h3>
                            <i class="fa fa-quote-left "></i>
                            We have been working with PSG Energy for over 4 years and have always found the staff to be efficient, friendly and helpful.
                            <i class="fa fa-quote-right"></i>
                        </h3>
                        <h4>Amy L Brown - Wilbys Chartered Surveyors</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">

            <div class="carousel-caption">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <h3>
                            <i class="fa fa-quote-left "></i>
                            The online ordering system is quick and easy to use and offers a wide range of products to match our needs
                            <i class="fa fa-quote-right"></i>
                        </h3>
                        <h4>Amy L Brown - Wilbys Chartered Surveyors</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <h3>
                            <i class="fa fa-quote-left "></i>
                            We have been working with PSG Energy for over 4 years and have always found the staff to be efficient, friendly and helpful.
                            <i class="fa fa-quote-right"></i>
                        </h3>
                        <h4>Amy L Brown - Wilbys Chartered Surveyors</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>