<!--USP area-->
<div class="traits">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6" >
                <div class="trait-item">
                    <div class="trait__icon">
                        <%= image_tag("local-usp.png", Alt: "Local") %>
                    </div>
                    <h2 class="trait-title">local presence <br>nationwide</h2>
                    <div class="trait-description">
                        <p>
                            Through our nationwide network of offices we support a wide client base. Our extensive team of Energy Assessors are ready to carry out your required survey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" >
                <div class="trait-item">
                    <div class="trait__icon">
                        <%= image_tag("qualified-usp.png", Alt: "Local") %>
                    </div>
                    <h2 class="trait-title">Qualified <br>professionals</h2>
                    <div class="trait-description">
                        <p>
                            Our expertise supports in meeting the requirements of the Energy Performance of Buildings Directive (EPBD) 2007 and in satisfying Building Control regulations.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6" >
                <div class="trait-item">
                    <div class="trait__icon">
                        <%= image_tag("range-usp.png", Alt: "Local") %>
                    </div>
                    <h2 class="trait-title">Extensive <br>services</h2>
                    <div class="trait-description">
                        <p>
                            Our extensive range is regularly updated in line with the growing number of Government initiatives that have been introduced to make the UK more energy efficient.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" >
                <div class="trait-item">
                    <div class="trait__icon">
                        <%= image_tag("rescomm-usp.png", Alt: "Local") %>
                    </div>
                    <h2 class="trait-title">residential and <br>commercial</h2>
                    <div class="trait-description">
                        <p>
                            Fully qualified Domestic Energy Assessors with a wealth of experience dealing with EPCs for marketed residential sales, private residential sales and the rental and social sector.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>