<div class="whyus">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h1 class="why-head">WHY US</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p>PSG Energy was established to provide a great range of services nationally and assist those involved in the property industry.</p>
                <br>
                <p>Our advice and expertise supports in meeting industry requirements and regulations.</p>
                <br>
                <p>We are always competitive on price and ready to advise.  We won't compromise on quality or professionalism.</p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <%= link_to("READ MORE", about_path, class:'btn btn-hero btn-readmore') %>

            </div>
        </div>
    </div>

</div>
