<div class="whyus">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h1 class="why-head">WHY US</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p>PSG Energy was established to provide a range of services to assist those involved in the property industry.</p>
                <p>Our expertise supports in meeting the requirements of the Energy Performance of Buildings Directive (EPBD) 2007 and in satisfying Building Control regulations.</p>
                </br>
                <p>Some more info here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <button class="btn btn-readmore" role="button">READ MORE</button>
            </div>
        </div>
    </div>

</div>
