
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>



    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <div class="hgroup">
                    <h1 class="carousel-header">YOUR NATIONAL ENERGY EXPERTS</h1>
                </div>
                <button class="btn btn--tertiary btn-lg" role="button">LEARN MORE</button>
                <button class="btn btn-hero btn-lg" role="button">REGISTER</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <div class="hgroup">
                    <h1 class="carousel-header">DELIVERING ENERGY PERFORMANCE CERTIFICATES AND
                        PROPERTY REPORTS ACROSS ENGLAND AND WALES</h1>
                </div>
                <button class="btn btn--tertiary btn-lg" role="button">LEARN MORE</button>
                <button class="btn btn-hero btn-lg" role="button">REGISTER</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <div class="hgroup">
                    <h1 class="carousel-header">DELIVERING ENERGY PERFORMANCE CERTIFICATES AND
                        PROPERTY REPORTS ACROSS ENGLAND AND WALES</h1>
                </div>
                <button class="btn btn--tertiary btn-lg" role="button">LEARN MORE</button>
                <button class="btn btn-hero btn-lg" role="button">REGISTER</button>
            </div>
        </div>

    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

</div>