
<%= image_tag "Contact-us.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="well-sm text-center">
                    <h1>Thank you for your message.</h1>
                    <br>
                    <h4>We will get back to you soon.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

