.nav-page {

	margin-top: 20px;
	margin-bottom: 60px;

	hr {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	p {
		font-size: 14px;
		color: #333;
	}

    h2, h3 {
        margin-top: 0;
		margin-bottom:20px;
    }

	.side-button {
		margin-top: 20px;
	}

	.more-products {
		font-size: 16px;
		font-weight: 500;
	}
}
