// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hgroup {
     margin-bottom: 45px;
}

.carousel-indicators {
    bottom: 15px;
}

.carousel-inner {
    margin-bottom:50px;
}

.fade-carousel {
    position: relative;
    height: 80vh;
}
.fade-carousel .carousel-inner .item {
    height: 80vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    //opacity: .6;
    width: 15px;
    height: 15px;
}
.fade-carousel .carousel-indicators > li.active {
    opacity: 1;
    background-color: #fff;
}

.carousel-header {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 30px,20px;
    margin-bottom: 80px;
    margin-top: 20px;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    //text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 3em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 1s all ease-in-out .1s;
    -moz-transition: 1s all ease-in-out .1s;
    -ms-transition: 1s all ease-in-out .1s;
    -o-transition: 1s all ease-in-out .1s;
    transition: 1s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 1s all ease-in-out .1s;
    -moz-transition: 1s all ease-in-out .1s;
    -ms-transition: 1s all ease-in-out .1s;
    -o-transition: 1s all ease-in-out .1s;
    transition: 1s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 14px 34px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    background-color: rgba(255,255,255,.1);
    box-shadow: none;
    border-color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 15px;
}

.btn--tertiary {
    background-color: #4bba57;
    box-shadow: none;
    border-color: #4bba57;
    font-size: 20px;
    letter-spacing: 1px;
    margin-right: 15px;
    margin-top: 15px;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 120vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url("Energy1.jpeg");
}
.fade-carousel .slides .slide-2 {
    background-image: url("test.jpeg");
}
.fade-carousel .slides .slide-3 {
    background-image: url("PSG-Energy-Partners.jpg");
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}
